footer {
    background-image: url("../imgs/jpg/menu-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .copyrights {
        font-size: 0.9rem;
        img {
            margin-top: -4px;
        }
    }
}
