// colors
$primaryColor: #2a6cf0;
$secondaryColor: #de171d;
$headingsBlack: #1f2020;
$textBlack: #302929;

// transitions
$defaultTransition: all 0.25s ease-in-out;

//shadows
$defaultShadow: 0 4px 4px rgba(0, 0, 0, 0.25);
